*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 1vw;
}
#ourbike{
    position: relative;
    width: 100%;
    height: 23rem;
}

#ourbike .banner {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
#ourbike .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#ourbike .banner-content > h1 {
    font-size: 9.375rem;
    font-weight: 900;
    background: linear-gradient(0deg, rgba(249, 101, 21, 0.70) 0%, rgba(249, 101, 21, 0.70) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 130%; 
    letter-spacing: 0.09375rem;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}
#ourbike .banner-content > .description{
    width: 35.5625rem;
    position: relative;
    z-index: 3;
    color: #FFF;
    font-size: 1rem;
    line-height: 120%; 
    letter-spacing: 0.0125rem;
    text-align: center;
}
#ourbike > .overlay-banner {
    background: linear-gradient(180deg, rgba(2, 2, 2, 0.18) 28.31%, rgba(2, 2, 2, 0.80) 100%);
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: 1;
}
#slide-bikes{
    overflow: hidden;
}
#slide-bikes .title{
    display: flex;
    padding: 0.81rem 6.25rem;
    margin-bottom: 2.5rem;
}
#slide-bikes .title > span{
    color:  #828282;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.00375rem;
}
#slide-bikes .title > span:last-child{
    color: #262626;
}

#slide-bikes .swiper-bikes{
    padding: 0 6.25rem;
}

/* #slide-bikes .swiper-slide{
    border: 1px solid red;
    height: 300px;
    display: flex;
    padding-right: 1.5rem;
} */

#slide-bikes  .btn-next-bike,
#slide-bikes  .btn-prev-bike{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1.4px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -2rem;
    
}
#slide-bikes  .btn-next-bike svg,
#slide-bikes  .btn-prev-bike svg{
    width: 1.25rem;
    height: 1.25rem;
}
#slide-bikes  .btn-next-bike{
    left: 51%;
}
#slide-bikes  .btn-prev-bike{
    left: 46%;
}
#slide-bikes .swiper-slide-bike{
    position: relative;
}
#slide-bikes .btn-actions{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

#compare-bike{
    padding: 6.25rem;
}
#compare-bike .infomation-top{
    display: flex;
    padding: 1.5rem 0;
    border-bottom: 1px dashed #c5c5c5;
    border-top: 1px dashed #c5c5c5;
}
#compare-bike .infomation-top .title{
    margin-right: 8.44rem;
}
#compare-bike .infomation-top .title > h2{
    color:  #262626;
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%; 
}   
#compare-bike .infomation-top .title > span {
    color:  #262626;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 120%; 
}

#compare-bike .list-bike{
    display: flex;
}
#compare-bike .list-bike > .bike-item{
    margin-right: 8.44rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #F8F8F8;
}
#compare-bike .list-bike > .bike-item > img {
    width: 13.3125rem;
    height: 13.3125rem;
    object-fit: contain;
}
#compare-bike .list-bike > .bike-item > .name{
    display: flex;
    width: 13.3125rem;
    padding: 0.5rem 0.75rem;
    align-items: center;
    background:  #262626;
    color: #fff
}
#compare-bike  .popup-bike{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
#compare-bike .list-bike > .bike-item .close-btn{
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.4375rem;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

}
#compare-bike .list-bike > .bike-item .close-btn svg,
#compare-bike .list-bike > .bike-item  .edit-btn svg{
    width: 0.875rem;
    height: 0.875rem;
}
.list-bike > .bike-item  .edit-btn{
    display: flex;
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.4375rem;
    justify-content: center;
    align-items: center;
    border: 1px solid  #262626;
    position: absolute;
    top: 1.75rem;
    right: 0;
    cursor: pointer;
}

#compare-bike .infomation-compare-bottom{
    margin-top: 2rem;

}
#compare-bike .infomation-compare-bottom .compare-index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #F1F1F1;
}
#compare-bike .infomation-compare-bottom .compare-index > span {
    color:  #262626;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0.0125rem;
   
}
#compare-bike .infomation-compare-bottom .compare-index > span:first-child{
    font-weight: 700;
}

#ride-with-us{
    padding: 0 6.25rem 6.25rem 6.25rem;
}
#ride-with-us > h3 {
    text-align: center;
    color:  #1A1A1A;
    font-size: 2.25rem;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 0.0225rem;
    margin-bottom: 2rem;
}

.tourListRide .swiper-slide{
    border: 1px solid #000;
    height: 31.75rem;
}

